body{
    padding-top: 10px;
    padding-bottom: 5px;
}

#mapa{
    /* background-image: url("../img/mapa.jpg"); */    
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

#icone-vertice{
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

#icone-aresta{
    border-radius: 5px;
    width: 12px;
    height: 36px;
}
